/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
body{
  text-align: justify;
}
  
.row-fluid.post-pagination div.span6, .row-fluid.portfolio-list li.span6 {
  margin-left: 8px;
  position: relative;
}
.row-fluid.portfolio-list li.span12, .row-fluid.portfolio-page div.span12{
  position: relative;
}
.row-fluid.post-pagination div.span6 h4 small, ul.portfolio li div small{
  float: right;
  clear: both;
  text-align: right;
  color: #777;
}
.row-fluid.post-pagination div.span6 h4 small{
  padding-top: 0.3em;
}
ul.portfolio li div small{
  line-height: 1.5em;
}
.row-fluid.post-pagination div.span6 a, ul.portfolio li a {
  color: #333;
}
.row-fluid.post-pagination div.span6 a:hover, ul.portfolio li a:hover {
  color: #555;
}
.row-fluid.post-pagination div.span6 a:hover h4, ul.portfolio li a:hover div {
  background-color: rgba(255,255,255,0.8);
}
.row-fluid.post-pagination div.span6 h4, ul.portfolio li div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1px;
  padding: 0.5em;
  background-color: rgba(255,255,255,0.5);
  display: block;
  margin: 0;
}

.row-fluid.warner-portfolio .span3{
  margin-left: 1.9%;
}

.notfound {
  text-align:center;
}

.row-fluid.portfolio-page h4{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  color: #999;
  margin: 0;
  padding: 0.5em;
}
.row-fluid.portfolio-page h4 small{
  float: right;
  padding-top: 0.3em;
}
.portfolio-row h3 small{
  float: right;
  padding-top: 1em;
}



div.gamertag {
  position: relative;
}
div.gamertag div.avatar,
div.gamertag dl, 
div.gamertag div.gamerpic, 
div.gameinfo dl, 
div.gameinfo div.boxart-ph, 
div.gameinfo img.boxart {
  float: left;
}
div.gamertag div.gamerpic {
  width: 50%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.gamertag p.seemore{
  clear: both;
  position: absolute;
  bottom: 0;
  right: 10px;
}

div.achievement{
  margin-left: 0 !important;
  position: relative;
  background-color: #E7E7E7;
  border-radius:4px;
  margin-bottom: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
div.achievement p{
 margin: 2px;
}
div.achievement p.meta{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #A7A7A7;
  font-size: 0.85em;
}
div.achievement p.meta a{
  color: #676767;
}
div.achievement h4{
  margin: 4px;
}
div.achievement img{
  float: left;
  margin: 4px;
  width: 64px;
  height: 64px;
}

div.achievement.xboxpage, div.achievement.xboxgamepage{
  margin-bottom: 10px;
}

div.gamertag.xboxpage {
  height: 100%;
}
div.gamertag hr{
  clear: both;
  margin: 20px;
}
div.gamertag hr.games{
  margin: 5px 20px;
}
div.gamertag div.game {
  height: 126px;
  position: relative;
}
div.gamertag div.game img,
div.gamertag div.game div.boxart-ph{
  clear: left;
  float: left;
  margin: 3px;
}
div.gamertag div.game div.boxart-ph {
  width: 85px;
  height: 120px;
}

div.boxart-ph, div.banner-ph {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

div.gamertag div.game div.boxart-ph i {
  margin-top: 48px;
}
div.gamertag div.game p, 
div.gamertag div.game h4{
  margin-left: 5px;
} 
div.gamertag div.game h4{
  padding-top: 15px;
}
.row-fluid.extender{
  height: 1810px;
  position: relative;
  overflow: hidden;
}
.row-fluid.extender div.mask {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  margin: 0;
  
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.row-fluid.extender div.mask .more p {
  margin: 0;
}
.row-fluid.extender div.mask .more {
  width: 120px;
  text-align:center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:12px;
  position: absolute;
  bottom: 0;
  left: 130px;
  cursor: pointer;
}
div.gameinfo img.boxart, div.gameinfo div.boxart-ph {
  margin: 2px;
  margin-right: 10px;
  width: 219px;
  height: 300px;
}
div.gameinfo dl{
  width: 180px;
  margin-top: 36px;
}
dd.percentage {
  width: 99%;
  background-color: #E7E7E7;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  height: 1.5em;
  border-radius:4px;
  
}
dd.percentage div.filler {
  background-color: #b1d770;
  border-right: 1px solid #95a486;
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius:4px;
}
dd.percentage div.number {
  text-align: center;
  color: #3d6611;
  position: absolute;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div.achievement.xboxgamepage p.meta {
  display: none;
  border-bottom-right-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #F7F7F7;
  z-index: 10;
  bottom: -3px;
  right: -3px;
  padding: 0 3px;
}
div.achievement.xboxgamepage:hover p.meta {
  display: inline;
}
div.achievement.firstfive {
  position: relative;
  right: -10px;
}
img.banner, div.gameinfo div.banner-ph{
  margin-left:2px;
  clear: both;
  width: 420px;
  height: 95px;
}
div.achievement.xboxgamepage {
  margin-right: 10px;
}
div.gameinfo div.boxart-ph i {
  margin-top: 140px;
}
div.gameinfo div.banner-ph i {
  margin-top: 35px;
}
p.backlink {
  position: absolute;
  top: -25px;
  left: 0px;
}
div.gameinfo {
  margin-left: 0 !important;
}
div.row-fluid.xboxgamepage {
  position: relative;
}