<div class="page-header">
  <h1>{{ page.title }} <small>{% if page.tagline %}{{ page.tagline }}{% endif %}</small></h1>
</div>

{{content}}

<div class="row-fluid xboxgamepage">
  <p class="backlink"><a href="/games/xbox.html"><i class="icon-chevron-left"></i>Back to games</a></p>
  <div class="span6 gameinfo">
    <h3>Game Info <small>Because I can</small></h3>
    {% if page.game.score == page.game.totalScore %}
      <img src="/assets/images/star_big.png" class="completed" title="Game Completed!" >
    {% endif %}
    {% if page.game.boxart.large %}
    <img src="{{page.game.boxart.large}}" alt="{{ page.title }}" title="{{ page.title }}"  class="boxart" >
    {% else %}
    <div class="boxart-ph"><i class="icon-warning-sign icon-white"></i></div>
    {% endif %}
    
    <dl>
      <dt>Score</dt>
      <dd id="score">{{page.game.score}}G of {{page.game.totalScore}}G</dd>
      <dd class="scorePercentage percentage">
        <div class="filler"></div>
        <div class="number"><span>0</span>% completion</div>
      </dd>
      
      <dt>Achievements</dt>
      <dd id="cheeveCount">{{page.game.achievements | size}} of {{page.game.totalAchievements}}</dd>
      <dd class="cheevePercentage percentage">
        <div class="filler"></div>
        <div class="number"><span>0</span>% completion</div>
      </dd>
      
      {% if page.game.lastPlayed %}
      <dt>Last Played</dt>
      <dd>{{ page.game.lastPlayed | date: "%d %B %Y" }}
      {% endif %}
      
      {% if page.game.ratingImages != empty %}
      <dt>Rating</dt>
      <dd class="ratingimgs">
      {% for rating in page.game.ratingImages %}
      <img src="{{rating.src}}" alt="{{rating.title}}" title="{{rating.title}}" >      
      {% endfor %}
      </dd>
      {% endif %}
      
    </dl>
    <script type="text/javascript">
      //<!--
      jQuery(function($){
        var regex = /^([0-9]+)G of ([0-9]+)G$/;
        var scoreData = $('#score').html().match(regex);
        
        //calculate the percentage
        var percentage = Math.round((scoreData[1] / scoreData[2]) * 100);
        
        $('.scorePercentage .number span').html(percentage);
        $('.scorePercentage .filler').width(percentage+'%');
        
        var cheeveRegex = /^([0-9]+) of ([0-9]+)$/;
        var cheeveData = $('#cheeveCount').html().match(cheeveRegex);
        
        //calculate the percentage
        var cheevePercentage = Math.round((cheeveData[1] / cheeveData[2]) * 100);
        
        $('.cheevePercentage .number span').html(cheevePercentage);
        $('.cheevePercentage .filler').width(cheevePercentage+'%');
      });
      //-->
    </script>
    
    {% if page.game.banner %}
    <img src="{{page.game.banner}}" alt="{{ page.title }}" title="{{ page.title }}" class="banner" >
    {% else %}
    <div class="banner-ph"><i class="icon-warning-sign icon-white"></i></div>
    {% endif %}
  </div>
  
  <div class="span6">
    <h3>Achievements <small>I've won {{page.game.achievements | size}} achievements!</small></h3>
  </div>
  
  {% for achievement in page.game.achievements %}
  <div class="span6 achievement xboxgamepage {% if forloop.index0 < 5 %}firstfive{% endif %}" id="{{achievement.slug}}">
    <img src="{{achievement.image}}" alt="{{page.title}} - {{achievement.name}}" title="{{page.title}} - {{achievement.name}}" >
    <h4>{{achievement.name}} <small>{{achievement.score}}G</small></h4>
    <p>{{achievement.description}}</p>
    <p class="meta">{{achievement.acquired | date: "%d %b %Y at %H:%M" }}</p>
  </div>
  {% endfor %}
  
</div>